%h1.text-center.epic-title
  OESK Archiver
%h4.text-center
  Bartosz Adamski 117316
%br
.text-center
  = image_tag "compression.jpg", class: "epic_pic"
:javascript
  document.getElementById('sidebar_main_page').className += " active";
