// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page {
  &-all {
    visibility: visible;
    margin-top: 10px;
  }
  &-content {
    padding-left: 0px;
  }
}

.nav-sidebar {
  background-color: #e8dede;
  > .active {
    > a {
      font-weight: bold;
      color: rgb(20, 77, 166);
    }
  }
}
